/*VARIABLES*/
$paddingSmall:1rem;
$paddingMedium:2rem;
$paddingLarge:3rem;
$regularFont:1.5rem;
$bigFont:2rem;
$centerSides: 0 auto;


$primaryColor:#1565c0;
$primaryColorLight:#5e92f3;
$primaryColorDark: #003c8f;
$SecondaryColor:#ede7f6;
$SecondaryColorLight:#ffffff;
$SecondaryColorDark: #bbb5c3;
$primaryTextColor: #ffffff;
$SecondaryTextColor: #000000;

/*END OF VARIABLES*/

/*MIXINS*/


@mixin centerUpDown {
     top:20%;
     left: 50%;
     transform: translate(-50%);
}

@mixin componentSetup{
    grid-row: row-start 1 / row-end 2;
    grid-column: col-start 2 / col-end 5;
}

/*END OF THE MIXINS*/

:root , * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer{
    margin: 0 auto; 
    //height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(5 , [col-start] 1fr [col-end]);
  //  grid-template-rows:   repeat(2 , [row-start] 1fr [row-end]);   
    grid-auto-rows:  repeat(2 , [row-start] 1fr [row-end]);
    background: $SecondaryColor;
    grid-gap: 1rem;
   // grid-gap:$paddingSmall;

& .navBarMain{
    grid-row: row-start 1 / row-end 2;
    grid-column: col-start 1 / col-end 1;
    background-color: $primaryColor;
    position: relative;    
    
    &-logo{
        background: $primaryColorDark;
        padding: $paddingSmall;
        text-align: center;
        color: $primaryTextColor;
    }

    &-container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);

        &-elements{

            &-ul{
               
              &-li{
                  list-style: none;
                  &-link{
                      color: $primaryTextColor;
                      text-decoration: none;
                      font-size: $regularFont;
                      padding: $paddingSmall ;
                      transition: 0.2s;

                      &:hover{
                          background: $primaryColorLight;
                          font-size: $bigFont;
                      }
                  }


              }
            }//end of the ul
        }//end of the elements
    }//end of the container

    


}// end of the navbar style for now

& .displayTask , & .detailTask , & .addTask , & .updateItem{
  @include componentSetup();
}

& .displayTask{
    width: 100%;
    margin: 0 auto;
    background: $SecondaryColorDark;
    position: relative;
    
    &-add{
        display: inline-block;
        color: $primaryColor;
        position: absolute;
        left: 8%;
             
       &-link{
           font-size:5rem ;
       }
    }

    &-container{
        
        padding: $paddingMedium;
        width: 80%;
        margin: 2rem auto;
        background: $SecondaryColor;

       
        &-task{
            padding: $paddingSmall;
          

            &-link{
                color: $SecondaryTextColor;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }//end of the container to display tasks
}//end of the whole display task element

& .detailTask{
    height: 100vh;
    background-color: red;
}

}//end of the main container
