/*VARIABLES*/
$paddingSmall:1rem;
$paddingMedium:2rem;
$paddingLarge:3rem;
$regularFont:1.5rem;
$bigFont:2rem;
$centerSides: 0 auto;


$primaryColor:#1565c0;
$primaryColorLight:#5e92f3;
$primaryColorDark: #003c8f;
$SecondaryColor:#ede7f6;
$SecondaryColorLight:#ffffff;
$SecondaryColorDark: #bbb5c3;
$primaryTextColor: #ffffff;
$SecondaryTextColor: #000000;

/*END OF VARIABLES*/

/*MIXINS*/


@mixin centerUpDown {
     top:20%;
     left: 50%;
     transform: translate(-50%);
}

@mixin componentSetup{
    grid-row: 1 / -1;
    grid-column:  2 / 5;
}

/*END OF THE MIXINS*/

:root , * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer{
    margin: 0 auto; 
    height: 100vh;
    width: 100%;
    background: $primaryColorDark;
    overflow: scroll;

 &-wrapper{
     display: grid;
     grid-template-columns:  repeat(4 , 1fr);
     grid-template-rows: 5rem repeat(3 , minmax(12rem, min-content));
     
     background-color: $SecondaryColor;
    // height: 100%;
     width: 80%;
     margin: 0 auto;
    
    & .navBarMain{
        padding: $paddingSmall;
        grid-column: 1 / -1;
        background-color: $primaryColor;
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        align-items: center;

        &-logo{
            color: $primaryTextColor;
        }

        &-container{
            &-elements{
                text-align: center;
                height: 100%;
                &-ul{
                    &-li{
                        list-style: none;
                        
                        &-link{
                            display: inline-block;
                            padding: $paddingSmall;
                            color: $primaryTextColor;
                            text-decoration: none;
                            font-size:1.2rem;   
                            &:hover{ background: $primaryColorDark;}
                        }
                    }
                }
            }
        }
    } //end of the navbar

    & .addTask , & .detailTask , & .displayTask , & .updateItem{
        padding: $paddingLarge;
        width: 100%;
        //height:100%;
        
        grid-column: 1 / -1 ;
        grid-row: 2 / 4;
    }
     & .displayTask{

            display: grid;
            grid-template-rows: min-content;
            position: relative;
       
            &-add{
                 position: fixed;
                 top: 15%;
                 left: 12%;

                 &::after{
                     content:"";
                     position: absolute;
                     top: 15%;
                     left: 12%;
                     height: 4rem;
                     width: 4rem;
                     z-index: -1;
                     border-radius: 1.7rem;
                     background: transparent;
                     transition: 0.3s;
                 }
                  
                 &:hover::after{
                     transform: scale(2);
                     opacity: 0;
                     background: $primaryColorDark;
                 }
            &-link{
                color: $primaryColorDark;
                 font-size: 6rem;
               }
        }
            &-container{
            width: 80%;
            background: $SecondaryColorDark;
            padding: $paddingMedium;
            margin: 1rem auto;
            transition: 0.3s;
            border-radius: 1.5rem;
            &:hover{
                background: $SecondaryColorLight;
                transform: translateY(-0.5rem);
        
            }

            &-task{

                &-link{
                    font-size: $bigFont;
                    text-decoration: none;
                    color: $SecondaryTextColor;
                }
            }
           
        }
        
     }//end of the displayTask component

     & .detailTask{
         
         display: grid;
         align-items: center;
         justify-content: center;

         &-container{
             display: grid;
             grid-template-rows: repeat(3 , minmax(10rem, min-content));
             grid-template-columns: repeat(4 , 1fr);
             
         }
         
     }

    }//end of the wrapper


}//end of the main container
