/*VARIABLES*/
$paddingSmall:1rem;
$paddingMedium:2rem;
$paddingLarge:3rem;
$regularFont:1.5rem;
$bigFont:2rem;
$centerSides: 0 auto;


$primaryColor:#1565c0;
$primaryColorLight:#5e92f3;
$primaryColorDark: #003c8f;
$SecondaryColor:#e8eaf6;
$SecondaryColorLight:#ffffff;
$SecondaryColorDark: #b6b8c3;
$primaryTextColor: #ffffff;
$SecondaryTextColor: #000000;

/*END OF VARIABLES*/

/*MIXINS*/


@mixin centerUpDown {
     top:20%;
     left: 50%;
     transform: translate(-50%);
}

/*END OF THE MIXINS*/

:root , * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer{
   
    height: 100Vh;
    width: 100%;
    display: grid;
    grid-template-areas: 'header content content content content content';
     
   // grid-gap:$paddingSmall;
/*WORKING ON THE NAVBAR */
    & .navBarMain{
        grid-area: header;
        position: relative;
        width: 100%;
        background: $primaryColorDark;

        &-logo{
            padding: $paddingMedium;
            background:$primaryColorDark;
            color: $primaryTextColor;

        }

        &-container{
            width: 100%;
            
           
            position: absolute;
            @include centerUpDown();
            text-align: center;
             
            &-elements{

                &-ul{
                  &-li{
                      list-style: none; 
                      &-link{
                          display: block;
                          font-size: $bigFont ;
                          color:$primaryTextColor;
                          text-decoration: none;
                          padding: $paddingMedium;
                          transition: 0.2s;
                          
                         

                          &:hover{
                              background: $primaryColor;
                              color: white;
                          }
                      }
                  }
                }//end of the ul
            }//end of the elements
        }

    }
/*END OF THE NAVBAR*/

/*WORKING ON THE DETAIL TASK COMPONENT*/
    & .detailTask{
        grid-area: content;
        background: linear-gradient(to right , rgba($primaryColor , 0.8 ), rgba($primaryColorDark , 1));
        padding: $paddingLarge;  
        position: relative;
        
        &-add{
            display: block;
             position: absolute;
             right: 10%;
             top: 1%;
             transition: 0.2s;
             z-index: 1;

             
            &-link{
                display: block;
                font-size: 8rem;
                color: $primaryColor;
                
            }

            &:hover{
                transform: rotate(180deg) scale(1.1);
                
            }
        }
        
        &-container{
            margin: $centerSides;
            width: 80%;
            background: $SecondaryColorLight;
            padding: $paddingMedium ;
           

            &-task{
                //background: $SecondaryColorDark;
                
                border-bottom: 0.1rem solid $SecondaryColorDark;
                transition: 0.2s;

                &:hover{
                    transform: translateY(-0.5rem);
                    background: $SecondaryColor;
                    border-radius: 1rem;
                }

                &-link{
                    display: block;
                    padding: $paddingMedium;
                    text-transform: uppercase;
                    color: $SecondaryTextColor;
                    font-size: 1.5rem;
                    text-decoration: none;
                }
            }
        }
    }


.addTask{

     grid-area:content;
    background: red;
    width: 100%;
    
}
}
/*END OF THE DETAIL TASK*/

/*ADD TASK*/
/*END OF ADD TASK*/